<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <p>{{ site.description | escape }}</p>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/shen-tian"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">shen-tian</span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/shen.tian/"><span class="icon">{% include instagram.svg %}<span><span class="username">@shen.tian</span></a>
          </li>
          <li>
            <a href="https://www.strava.com/athletes/4968248"><span class="icon">{% include strava.svg %}<span><span class="username">Shen Tian</span></a>
          </li>
          <li>
            <a href="https://medium.com/@shentian"><span class="icon">{% include medium.svg %}<span><span class="username">@shentian</span></a>
          </li>
          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

  </div>

</footer>
